.grantpal-button {
  padding: 8px;
  cursor: pointer;
  background: #795ff6;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
}

.grantpal-button:disabled {
  background: #876ff7;
  color: #baacf9;
}